/* Estilos personalizados */

.navbar {
  background-color: #dd86ca;
}

.navbar-brand {
  color: #fff5f5;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-nav .nav-link:hover {
  color: #ffffff;
}

.navbar-toggler-icon {
  background-image: url('your-icon-path.svg');
}

#logo{
  

   background-size: cover !important;
    -webkit-background-size: cover !important;
   background-attachment: fixed;
   filter: blur(1px);
  position: relative;
   min-height: 20px;
   width: 3%;
   overflow: hidden;

}

#homepied{

   background-size: cover !important;
    -webkit-background-size: cover !important;
   background-attachment: fixed;
   filter: blur(3px);



   position: relative;
   height: 500px;
   width: 100%;
   padding: -100px;
   bottom: 5px;
   overflow: hidden;
   
}


